/* .carousel-caption h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.carousel-caption p {
  font-size: 1.2rem;
  color: #ffdd57;
}

.carousel-caption button {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
} */

/* closour css */

/* .banner-image {
  height: 70vh;
  object-fit: cover;
  filter: brightness(0.6);
}

.carousel-caption {
  bottom: 20%;
}

.banner-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.banner-description {
  font-size: 1.2rem;
}

.carousel-indicators [data-bs-target] {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
} */
/* HeroCarousel.css */
.banner-img {
  height: 50vh;
  object-fit: cover;
  background-size: cover;
  position: ;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 6px;
}

.carousel-indicators [data-bs-target] {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
